.console {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(10, 10, 10, 0.9);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.arrowUp{
  height: 100%;
  -webkit-transform:rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.arrowDown{
  height: 100%;
  -webkit-transform:rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
